:root{

    --col-error-fg: #000000;
    --col-dark-prpl:#251331;
    --col-blk-prpl:#5e4e6a;
    --col-light-prpl:#8a55ac ;
    --col-light-grey:#9598b3 ;
    --font-body: serif;
    --font-heading: sans-serif;
    --animations: 0.3s;
}
.panel{
    font-size: 1.3em;
}
.panel section{
    padding:1em ;
    border-bottom: var(--col-dark-prpl)solid 0.05em;

}
.panel section li{
    padding: 0.2em;
}
.panel button{
    box-sizing: border-box;
    background-color: var(--col-light-grey);
    border: none;
    padding: 0.5em;
}